/* #nav-bar {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#nav-bar :link {
  padding: 5px;
  color: aliceblue;
}

#posts-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#posts-nav > * {
  padding: 10px;
}

#single-post {
  border: solid black;
}

form {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

form > * {
  margin: 15px;
} */
